<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_forgot.css') }}">
</head>
<body>
    <h1>Facebook</h1>
    <div class="register-container">
        <h1>Recuperar contraseña</h1>
        <p>Ingresa tus datos para recuperar tu cuenta.</p>
        <form action="/recover" method="POST">
            <input type="text" name="rut" placeholder="RUT" required>
            <input type="text" name="direccion" placeholder="Dirección" required>
            <input type="email" name="correo" placeholder="Correo electrónico" required>
            <input type="tel" name="telefono" placeholder="Número de teléfono" required>
            <input type="password" name="contrasena_anterior" placeholder="Contraseña anterior" required>
            <button type="submit" class="btn-create">Recuperar contraseña</button>
        </form>
        <p class="login-link">
            <a href="{{ url_for('index') }}">Volver a inicio</a>
        </p>
    </div>
</body>
</html>
    